:root {
	--section-one: #ffd495;
	--section-two: #fffbac;
	--section-three: #b5d5c5;
	--section-four: #cfe8a9;
	--section-five: #ecf2ff;
}

*,
:after,
:before {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100%;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	margin-bottom: 10px;
}

h2 {
	font-size: 32px;
	line-height: 36px;
	margin-top: 20px;
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 3rem;
	line-height: 1.1;
	font-weight: 400;
	letter-spacing: -0.01em;
}

a {
	text-decoration: none;
}

img {
	border: 0;
}

img {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}

img {
	display: block;
	max-width: 100%;
}

button,
button:hover,
button:focus,
input[type='submit'],
input[type='submit']:hover,
input[type='submit']:focus {
	cursor: pointer;
	border: none;
	outline: none;
}

.w-inline-block {
	max-width: 100%;
	display: inline-block;
}

.grid-halves {
	display: grid;
	width: 100%;
	grid-auto-columns: 1fr;
	grid-column-gap: 0px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-row-gap: 0px;
	border-bottom: 2px solid #000;
}

.grid-item-1,
.grid-item-2 {
	display: inline-block;
}

.grid-item-1 {
	order: 1;
}

.grid-item-2 {
	order: 2;
}

.column-padding {
	position: relative;
	display: flex;
	height: 100%;
	min-height: 22rem;
	padding: 6.5vw;
	align-items: center;
}

.column-padding.creator {
	padding-right: 0vw;
	justify-content: flex-end;
}

.content-grid {
	display: grid;
	width: 100%;
	max-width: 48rem;
	margin-right: 0px;
	margin-left: 0px;
	justify-items: stretch;
	align-items: stretch;
	align-content: start;
	grid-auto-columns: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 3rem;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.text-lg {
	font-size: 2rem;
	line-height: 1.25;
	letter-spacing: 0.025em;
}

ul.points {
	padding: 0;
	list-style-position: inside;
}

ul.points li {
	font-size: 1.2rem;
	line-height: 1.4;
}

.callout-wrap {
	position: relative;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.callout-image {
	width: 100%;
	height: 100%;
	max-width: 36rem;
	min-width: 100%;
	object-fit: contain;
}

.name-tag {
	position: absolute;
	right: -3.35vw;
	bottom: 4rem;
	display: inline-block;
	padding: 0.6rem 1rem 0.5rem 3rem;
	border: 2px solid #000;
	border-radius: 50px;
	background-color: #fff;
	background-image: url('../assets/img/logo.png');
	background-position: 4px 59%;
	background-size: 2.25rem;
	background-repeat: no-repeat;
	transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
	color: #000;
	font-size: 1.063rem;
	font-weight: 500;
}

.shadow-button-wrap,
input[type='submit'] {
	position: relative;
	padding: 1.1rem 2rem 1.2rem;
	border-radius: 4px;
	background-color: #000;
	color: #fff;
	min-width: 18rem;
	font-size: 1rem;
	transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.shadow-button-text {
	font-size: 1.5rem;
	text-align: center;
}

.section-wrapper {
	background-color: #f1f333;
}

.section-wrapper.one {
	background-color: var(--section-one);
}

.section-wrapper.two {
	background-color: var(--section-two);
}

.section-wrapper.three {
	background-color: var(--section-three);
}

.section-wrapper.four {
	background-color: var(--section-four);
}

.section-wrapper.five {
	background-color: var(--section-five);
}

/* Add animation to the modal */
.modal {
	display: none; /* Hidden by default */
	justify-content: center;
	align-items: center;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full width */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	animation-name: fadeIn; /* Add animation */
	animation-duration: 0.5s;
}

/* Modal content */
.modal-content {
	background-color: #fefefe;
	margin: 0 auto; /* Center horizontally */
	padding: 20px;
	width: 24rem;
	position: relative;
	top: 50%; /* Start from top of screen */
	transform: translateY(-50%); /* Shift up by 50% of its own height */
	animation-name: slideIn; /* Add animation */
	animation-duration: 0.5s;
}

/* Modal animation */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideIn {
	from {
		top: -50%;
	}
	to {
		top: 50%;
	}
}

/* Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.d-flex {
	display: flex;
	flex-direction: column;
}

#contactForm {
	gap: 1rem;
	width: 100%;
}

input,
textarea {
	padding: 1rem 0.75rem;
	border: 1px solid #1a1a1a;
}

@media screen and (max-width: 768px) {
	.grid-halves {
		grid-template-columns: 1fr;
	}
	.grid-item-1 {
		order: 2;
	}
	.grid-item-2 {
		order: 1;
	}
	.column-padding.creator {
		padding-right: 6.5vw;
	}
	.content-footer {
		display: flex;
		justify-content: center;
	}
	.name-tag {
		bottom: 1rem;
	}
}
